[submodule "abinit"]
	path = abinit
	url = git@github.com:abinit/abinit.git
[submodule "adflow"]
	path = adflow
	url = git@github.com:mdolab/adflow.git
[submodule "aenet"]
	path = aenet
	url = git@github.com:atomisticnet/aenet.git
[submodule "bandup"]
	path = bandup
	url = git@github.com:band-unfolding/bandup.git
[submodule "bigdft-suite"]
	path = bigdft-suite
	url = git@gitlab.com:l_sim/bigdft-suite.git
[submodule "CaNS"]
	path = CaNS
	url = git@github.com:p-costa/CaNS.git
[submodule "cantera"]
	path = cantera
	url = git@github.com:Cantera/cantera.git
[submodule "Castro"]
	path = Castro
	url = git@github.com:AMReX-Astro/Castro.git
[submodule "CFL3D"]
	path = CFL3D
	url = git@github.com:nasa/CFL3D.git
[submodule "CompDam_DGD"]
	path = CompDam_DGD
	url = git@github.com:nasa/CompDam_DGD.git
[submodule "cp2k"]
	path = cp2k
	url = git@github.com:cp2k/cp2k.git
[submodule "crest"]
	path = crest
	url = git@github.com:grimme-lab/crest.git
[submodule "CTSM"]
	path = CTSM
	url = git@github.com:ESCOMP/CTSM.git
[submodule "dalton"]
	path = dalton
	url = git@gitlab.com:dalton/dalton.git
[submodule "DAMASK"]
	path = DAMASK
	url = git@github.com:eisenforschung/DAMASK.git
[submodule "dftd4"]
	path = dftd4
	url = git@github.com:dftd4/dftd4.git
[submodule "dftatom"]
	path = dftatom
	url = git@github.com:certik/dftatom.git
[submodule "dftbplus"]
	path = dftbplus
	url = git@github.com:dftbplus/dftbplus.git
[submodule "dl-poly"]
	path = dl-poly
	url = git@gitlab.com:ccp5/dl-poly.git
[submodule "eT"]
	path = eT
	url = git@gitlab.com:eT-program/eT.git
[submodule "fds"]
	path = fds
	url = git@github.com:firemodels/fds.git
[submodule "flexi"]
	path = flexi
	url = git@github.com:flexi-framework/flexi.git
[submodule "fluidity"]
	path = fluidity
	url = git@github.com:FluidityProject/fluidity.git
[submodule "FMS"]
	path = FMS
	url = git@github.com:NOAA-GFDL/FMS.git
[submodule "freeCappuccino"]
	path = freeCappuccino
	url = git@github.com:nikola-m/freeCappuccino.git
[submodule "Futility"]
	path = Futility
	url = git@github.com:CASL/Futility.git
[submodule "gemini3d"]
	path = gemini3d
	url = git@github.com:gemini3d/gemini3d.git
[submodule "hande"]
	path = hande
	url = git@github.com:hande-qmc/hande.git
[submodule "icar"]
	path = icar
	url = git@github.com:NCAR/icar.git
[submodule "LATTE"]
	path = LATTE
	url = git@github.com:lanl/LATTE.git
[submodule "lesgo"]
	path = lesgo
	url = git@github.com:lesgo-jhu/lesgo.git
[submodule "libmbd"]
	path = libmbd
	url = git@github.com:libmbd/libmbd.git
[submodule "lsdalton"]
	path = lsdalton
	url = git@gitlab.com:dalton/lsdalton.git
[submodule "mesa"]
	path = mesa
	url = git@github.com:MESAHub/mesa.git
[submodule "MITgcm"]
	path = MITgcm
	url = git@github.com:MITgcm/MITgcm.git
[submodule "MOM6"]
	path = MOM6
	url = git@github.com:NOAA-GFDL/MOM6.git
[submodule "MPAS-Model"]
	path = MPAS-Model
	url = git@github.com:MPAS-Dev/MPAS-Model.git
[submodule "NASTRAN-93"]
	path = NASTRAN-93
	url = git@github.com:nasa/NASTRAN-93.git
[submodule "NASTRAN-95"]
	path = NASTRAN-95
	url = git@github.com:nasa/NASTRAN-95.git
[submodule "Nek5000"]
	path = Nek5000
	url = git@github.com:Nek5000/Nek5000.git
[submodule "nwchem"]
	path = nwchem
	url = git@github.com:nwchemgit/nwchem.git
[submodule "octopus"]
	path = octopus
	url = git@gitlab.com:octopus-code/octopus.git
[submodule "OFF"]
	path = OFF
	url = git@github.com:szaghi/OFF.git
[submodule "OpenMolcas"]
	path = OpenMolcas
	url = git@gitlab.com:Molcas/OpenMolcas.git
[submodule "OpenSWPC"]
	path = OpenSWPC
	url = git@github.com:tktmyd/OpenSWPC.git
[submodule "QCxMS"]
	path = QCxMS
	url = git@github.com:qcxms/QCxMS.git
[submodule "q-e"]
	path = q-e
	url = git@github.com:QEF/q-e.git
[submodule "QUICK"]
	path = QUICK
	url = git@github.com:merzlab/QUICK.git
[submodule "QUIP"]
	path = QUIP
	url = git@github.com:libAtoms/QUIP.git
[submodule "siesta"]
	path = siesta
	url = git@gitlab.com:siesta-project/siesta.git
[submodule "SNaC"]
	path = SNaC
	url = git@github.com:p-costa/SNaC.git
[submodule "SNAP"]
	path = SNAP
	url = git@github.com:lanl/SNAP.git
[submodule "specfem3d"]
	path = specfem3d
	url = git@github.com:geodynamics/specfem3d.git
[submodule "tinker"]
	path = tinker
	url = git@github.com:TinkerTools/tinker.git
[submodule "Tracmass"]
	path = Tracmass
	url = git@github.com:TRACMASS/Tracmass.git
[submodule "truchas"]
	path = truchas
	url = git@gitlab.com:truchas/truchas.git
[submodule "wannier90"]
	path = wannier90
	url = git@github.com:wannier-developers/wannier90.git
[submodule "public"]
	path = whizard-public
	url = https://gitlab.tp.nt.uni-siegen.de/whizard/public.git
[submodule "WRF"]
	path = WRF
	url = git@github.com:wrf-model/WRF.git
[submodule "xtb"]
	path = xtb
	url = git@github.com:grimme-lab/xtb.git
[submodule "arpack-ng"]
	path = arpack-ng
	url = git@github.com:opencollab/arpack-ng.git
[submodule "bspline-fortran"]
	path = bspline-fortran
	url = git@github.com:jacobwilliams/bspline-fortran.git
[submodule "dbcsr"]
	path = dbcsr
	url = git@github.com:cp2k/dbcsr.git
[submodule "ddeabm"]
	path = ddeabm
	url = git@github.com:jacobwilliams/ddeabm.git
[submodule "ddPCM"]
	path = ddPCM
	url = git@github.com:filippolipparini/ddPCM.git
[submodule "DelaunaySparse"]
	path = DelaunaySparse
	url = git@github.com:vtopt/DelaunaySparse.git
[submodule "dop853"]
	path = dop853
	url = git@github.com:jacobwilliams/dop853.git
[submodule "elmerfem"]
	path = elmerfem
	url = git@github.com:ElmerCSC/elmerfem.git
[submodule "elpa"]
	path = elpa
	url = https://gitlab.mpcdf.mpg.de/elpa/elpa.git
[submodule "fgsl"]
	path = fgsl
	url = git@github.com:reinh-bader/fgsl.git
[submodule "FLINT"]
	path = FLINT
	url = git@github.com:princemahajan/FLINT.git
[submodule "fmm2d"]
	path = fmm2d
	url = git@github.com:flatironinstitute/fmm2d.git
[submodule "FMM3D"]
	path = FMM3D
	url = git@github.com:flatironinstitute/FMM3D.git
[submodule "FOODIE"]
	path = FOODIE
	url = git@github.com:Fortran-FOSS-Programmers/FOODIE.git
[submodule "fortranlib"]
	path = fortranlib
	url = git@github.com:astrofrog/fortranlib.git
[submodule "caf-testsuite"]
	path = caf-testsuite
	url = git@github.com:uhhpctools/caf-testsuite.git
