[submodule "abinit"]
	path = abinit
	url = git@github.com:abinit/abinit.git
[submodule "adflow"]
	path = adflow
	url = git@github.com:mdolab/adflow.git
[submodule "aenet"]
	path = aenet
	url = git@github.com:atomisticnet/aenet.git
[submodule "bandup"]
	path = bandup
	url = git@github.com:band-unfolding/bandup.git
[submodule "bigdft-suite"]
	path = bigdft-suite
	url = git@gitlab.com:l_sim/bigdft-suite.git
[submodule "CaNS"]
	path = CaNS
	url = git@github.com:p-costa/CaNS.git
[submodule "cantera"]
	path = cantera
	url = git@github.com:Cantera/cantera.git
[submodule "Castro"]
	path = Castro
	url = git@github.com:AMReX-Astro/Castro.git
    ignore = dirty
[submodule "CFL3D"]
	path = CFL3D
	url = git@github.com:nasa/CFL3D.git
[submodule "CompDam_DGD"]
	path = CompDam_DGD
	url = git@github.com:nasa/CompDam_DGD.git
[submodule "cp2k"]
	path = cp2k
	url = git@github.com:cp2k/cp2k.git
[submodule "crest"]
	path = crest
	url = git@github.com:grimme-lab/crest.git
[submodule "CTSM"]
	path = CTSM
	url = git@github.com:ESCOMP/CTSM.git
[submodule "dalton"]
	path = dalton
	url = git@gitlab.com:dalton/dalton.git
[submodule "DAMASK"]
	path = DAMASK
	url = git@github.com:eisenforschung/DAMASK.git
[submodule "dftd4"]
	path = dftd4
	url = git@github.com:dftd4/dftd4.git
[submodule "dftatom"]
	path = dftatom
	url = git@github.com:certik/dftatom.git
[submodule "dftbplus"]
	path = dftbplus
	url = git@github.com:dftbplus/dftbplus.git
[submodule "dl-poly"]
	path = dl-poly
	url = git@gitlab.com:ccp5/dl-poly.git
[submodule "eT"]
	path = eT
	url = git@gitlab.com:eT-program/eT.git
[submodule "fds"]
	path = fds
	url = git@github.com:firemodels/fds.git
[submodule "flexi"]
	path = flexi
	url = git@github.com:flexi-framework/flexi.git
[submodule "fluidity"]
	path = fluidity
	url = git@github.com:FluidityProject/fluidity.git
[submodule "FMS"]
	path = FMS
	url = git@github.com:NOAA-GFDL/FMS.git
[submodule "freeCappuccino"]
	path = freeCappuccino
	url = git@github.com:nikola-m/freeCappuccino.git
[submodule "Futility"]
	path = Futility
	url = git@github.com:CASL/Futility.git
[submodule "gemini3d"]
	path = gemini3d
	url = git@github.com:gemini3d/gemini3d.git
[submodule "hande"]
	path = hande
	url = git@github.com:hande-qmc/hande.git
[submodule "icar"]
	path = icar
	url = git@github.com:NCAR/icar.git
[submodule "LATTE"]
	path = LATTE
	url = git@github.com:lanl/LATTE.git
[submodule "lesgo"]
	path = lesgo
	url = git@github.com:lesgo-jhu/lesgo.git
[submodule "libmbd"]
	path = libmbd
	url = git@github.com:libmbd/libmbd.git
[submodule "lsdalton"]
	path = lsdalton
	url = git@gitlab.com:dalton/lsdalton.git
[submodule "MESA"]
	path = MESA
	url = git@github.com:MESAHub/mesa.git
[submodule "MITgcm"]
	path = MITgcm
	url = git@github.com:MITgcm/MITgcm.git
[submodule "MOM6"]
	path = MOM6
	url = git@github.com:NOAA-GFDL/MOM6.git
[submodule "MPAS-Model"]
	path = MPAS-Model
	url = git@github.com:MPAS-Dev/MPAS-Model.git
[submodule "NASTRAN-93"]
	path = NASTRAN-93
	url = git@github.com:nasa/NASTRAN-93.git
[submodule "NASTRAN-95"]
	path = NASTRAN-95
	url = git@github.com:nasa/NASTRAN-95.git
[submodule "Nek5000"]
	path = Nek5000
	url = git@github.com:Nek5000/Nek5000.git
[submodule "nwchem"]
	path = nwchem
	url = git@github.com:nwchemgit/nwchem.git
[submodule "octopus"]
	path = octopus
	url = git@gitlab.com:octopus-code/octopus.git
[submodule "OFF"]
	path = OFF
	url = git@github.com:szaghi/OFF.git
[submodule "OpenMolcas"]
	path = OpenMolcas
	url = git@gitlab.com:Molcas/OpenMolcas.git
[submodule "OpenSWPC"]
	path = OpenSWPC
	url = git@github.com:tktmyd/OpenSWPC.git
[submodule "QCxMS"]
	path = QCxMS
	url = git@github.com:qcxms/QCxMS.git
[submodule "q-e"]
	path = q-e
	url = git@github.com:QEF/q-e.git
[submodule "QUICK"]
	path = QUICK
	url = git@github.com:merzlab/QUICK.git
[submodule "QUIP"]
	path = QUIP
	url = git@github.com:libAtoms/QUIP.git
[submodule "siesta"]
	path = siesta
	url = git@gitlab.com:siesta-project/siesta.git
[submodule "SNaC"]
	path = SNaC
	url = git@github.com:p-costa/SNaC.git
[submodule "SNAP"]
	path = SNAP
	url = git@github.com:lanl/SNAP.git
[submodule "specfem3d"]
	path = specfem3d
	url = git@github.com:geodynamics/specfem3d.git
[submodule "tinker"]
	path = tinker
	url = git@github.com:TinkerTools/tinker.git
[submodule "Tracmass"]
	path = Tracmass
	url = git@github.com:TRACMASS/Tracmass.git
[submodule "truchas"]
	path = truchas
	url = git@gitlab.com:truchas/truchas.git
[submodule "wannier90"]
	path = wannier90
	url = git@github.com:wannier-developers/wannier90.git
[submodule "public"]
	path = whizard-public
	url = https://gitlab.tp.nt.uni-siegen.de/whizard/public.git
[submodule "WRF"]
	path = WRF
	url = git@github.com:wrf-model/WRF.git
[submodule "xtb"]
	path = xtb
	url = git@github.com:grimme-lab/xtb.git
[submodule "arpack-ng"]
	path = arpack-ng
	url = git@github.com:opencollab/arpack-ng.git
[submodule "bspline-fortran"]
	path = bspline-fortran
	url = git@github.com:jacobwilliams/bspline-fortran.git
[submodule "dbcsr"]
	path = dbcsr
	url = git@github.com:cp2k/dbcsr.git
[submodule "ddeabm"]
	path = ddeabm
	url = git@github.com:jacobwilliams/ddeabm.git
[submodule "ddPCM"]
	path = ddPCM
	url = git@github.com:filippolipparini/ddPCM.git
[submodule "DelaunaySparse"]
	path = DelaunaySparse
	url = git@github.com:vtopt/DelaunaySparse.git
[submodule "dop853"]
	path = dop853
	url = git@github.com:jacobwilliams/dop853.git
[submodule "elmerfem"]
	path = elmerfem
	url = git@github.com:ElmerCSC/elmerfem.git
[submodule "elpa"]
	path = elpa
	url = https://gitlab.mpcdf.mpg.de/elpa/elpa.git
[submodule "fgsl"]
	path = fgsl
	url = git@github.com:reinh-bader/fgsl.git
[submodule "FLINT"]
	path = FLINT
	url = git@github.com:princemahajan/FLINT.git
[submodule "fmm2d"]
	path = fmm2d
	url = git@github.com:flatironinstitute/fmm2d.git
[submodule "FMM3D"]
	path = FMM3D
	url = git@github.com:flatironinstitute/FMM3D.git
[submodule "FOODIE"]
	path = FOODIE
	url = git@github.com:Fortran-FOSS-Programmers/FOODIE.git
[submodule "fortranlib"]
	path = fortranlib
	url = git@github.com:astrofrog/fortranlib.git
[submodule "caf-testsuite"]
	path = caf-testsuite
	url = git@github.com:uhhpctools/caf-testsuite.git
[submodule "FATODE"]
	path = FATODE
	url = ssh://git@github.com/ComputationalScienceLaboratory/FATODE
[submodule "flook"]
	path = flook
	url = ssh://git@github.com/ElectronicStructureLibrary/flook
[submodule "feq-parse"]
	path = feq-parse
	url = ssh://git@github.com/FluidNumerics/feq-parse
[submodule "ford"]
	path = ford
	url = ssh://git@github.com/Fortran-FOSS-Programmers/ford
[submodule "gFTL"]
	path = gFTL
	url = ssh://git@github.com/Goddard-Fortran-Ecosystem/gFTL
[submodule "gFTL-shared"]
	path = gFTL-shared
	url = ssh://git@github.com/Goddard-Fortran-Ecosystem/gFTL-shared
[submodule "pFUnit"]
	path = pFUnit
	url = ssh://git@github.com/Goddard-Fortran-Ecosystem/pFUnit
[submodule "pFlogger"]
	path = pFlogger
	url = ssh://git@github.com/Goddard-Fortran-Ecosystem/pFlogger
[submodule "yaFyaml"]
	path = yaFyaml
	url = ssh://git@github.com/Goddard-Fortran-Ecosystem/yaFyaml
[submodule "serialbox"]
	path = serialbox
	url = ssh://git@github.com/GridTools/serialbox
[submodule "node-fortran"]
	path = node-fortran
	url = ssh://git@github.com/IonicaBizau/node-fortran
[submodule "node.fortran"]
	path = node.fortran
	url = ssh://git@github.com/IonicaBizau/node.fortran
[submodule "focal"]
	path = focal
	url = ssh://git@github.com/LKedward/focal
[submodule "shroud"]
	path = shroud
	url = ssh://git@github.com/LLNL/shroud
[submodule "PoisFFT"]
	path = PoisFFT
	url = ssh://git@github.com/LadaF/PoisFFT
[submodule "NPY-for-Fortran"]
	path = NPY-for-Fortran
	url = ssh://git@github.com/MRedies/NPY-for-Fortran
[submodule "stdlib_os"]
	path = stdlib_os
	url = ssh://git@github.com/MarDiehl/stdlib_os
[submodule "hipfort"]
	path = hipfort
	url = ssh://git@github.com/ROCmSoftwarePlatform/hipfort
[submodule "lapack"]
	path = lapack
	url = ssh://git@github.com/Reference-LAPACK/lapack
[submodule "ftl"]
	path = ftl
	url = ssh://git@github.com/SCM-NV/ftl
[submodule "SHTOOLS"]
	path = SHTOOLS
	url = ssh://git@github.com/SHTOOLS/SHTOOLS
[submodule "SLICOT-Reference"]
	path = SLICOT-Reference
	url = ssh://git@github.com/SLICOT/SLICOT-Reference
[submodule "SeisSol"]
	path = SeisSol
	url = ssh://git@github.com/SeisSol/SeisSol
[submodule "netcdf-fortran"]
	path = netcdf-fortran
	url = ssh://git@github.com/Unidata/netcdf-fortran
[submodule "SciFortran"]
	path = SciFortran
	url = ssh://git@github.com/aamaricci/SciFortran
[submodule "fox"]
	path = fox
	url = ssh://git@github.com/andreww/fox
[submodule "fypp"]
	path = fypp
	url = ssh://git@github.com/aradi/fypp
[submodule "arrayfire-fortran"]
	path = arrayfire-fortran
	url = ssh://git@github.com/arrayfire/arrayfire-fortran
[submodule "camfort"]
	path = camfort
	url = ssh://git@github.com/camfort/camfort
[submodule "clfortran"]
	path = clfortran
	url = ssh://git@github.com/cass-support/clfortran
[submodule "illustrate"]
	path = illustrate
	url = ssh://git@github.com/ccsb-scripps/illustrate
[submodule "paramonte"]
	path = paramonte
	url = ssh://git@github.com/cdslaborg/paramonte
[submodule "fortran-utils"]
	path = fortran-utils
	url = ssh://git@github.com/certik/fortran-utils
[submodule "qcontainers"]
	path = qcontainers
	url = ssh://git@github.com/darmar-lt/qcontainers
[submodule "convert_FORTRAN_case"]
	path = convert_FORTRAN_case
	url = ssh://git@github.com/dav05/convert_FORTRAN_case
[submodule "mpifx"]
	path = mpifx
	url = ssh://git@github.com/dftbplus/mpifx
[submodule "scalapackfx"]
	path = scalapackfx
	url = ssh://git@github.com/dftbplus/scalapackfx
[submodule "FortranPatterns"]
	path = FortranPatterns
	url = ssh://git@github.com/farhanjk/FortranPatterns
[submodule "fortrancallgraph"]
	path = fortrancallgraph
	url = ssh://git@github.com/fortesg/fortrancallgraph
[submodule "blocktran"]
	path = blocktran
	url = ssh://git@github.com/fortran-gaming/blocktran
[submodule "fpm"]
	path = fpm
	url = ssh://git@github.com/fortran-lang/fpm
[submodule "stdlib"]
	path = stdlib
	url = ssh://git@github.com/fortran-lang/stdlib
[submodule "h5fortran"]
	path = h5fortran
	url = ssh://git@github.com/geospace-code/h5fortran
[submodule "maptran3d"]
	path = maptran3d
	url = ssh://git@github.com/geospace-code/maptran3d
[submodule "nc4fortran"]
	path = nc4fortran
	url = ssh://git@github.com/geospace-code/nc4fortran
[submodule "fortran-curl"]
	path = fortran-curl
	url = ssh://git@github.com/interkosmos/fortran-curl
[submodule "fortran-lua53"]
	path = fortran-lua53
	url = ssh://git@github.com/interkosmos/fortran-lua53
[submodule "fortran-motif"]
	path = fortran-motif
	url = ssh://git@github.com/interkosmos/fortran-motif
[submodule "fortran-pcre2"]
	path = fortran-pcre2
	url = ssh://git@github.com/interkosmos/fortran-pcre2
[submodule "fortran-sdl2"]
	path = fortran-sdl2
	url = ssh://git@github.com/interkosmos/fortran-sdl2
[submodule "fortran-sqlite3"]
	path = fortran-sqlite3
	url = ssh://git@github.com/interkosmos/fortran-sqlite3
[submodule "fortran-tcl86"]
	path = fortran-tcl86
	url = ssh://git@github.com/interkosmos/fortran-tcl86
[submodule "fortran-unix"]
	path = fortran-unix
	url = ssh://git@github.com/interkosmos/fortran-unix
[submodule "fortran-xlib"]
	path = fortran-xlib
	url = ssh://git@github.com/interkosmos/fortran-xlib
[submodule "fortran-zlib"]
	path = fortran-zlib
	url = ssh://git@github.com/interkosmos/fortran-zlib
[submodule "Fortran-Astrodynamics-Toolkit"]
	path = Fortran-Astrodynamics-Toolkit
	url = ssh://git@github.com/jacobwilliams/Fortran-Astrodynamics-Toolkit
[submodule "NumDiff"]
	path = NumDiff
	url = ssh://git@github.com/jacobwilliams/NumDiff
[submodule "PCHIP"]
	path = PCHIP
	url = ssh://git@github.com/jacobwilliams/PCHIP
[submodule "astro-fortran"]
	path = astro-fortran
	url = ssh://git@github.com/jacobwilliams/astro-fortran
[submodule "fortran-csv-module"]
	path = fortran-csv-module
	url = ssh://git@github.com/jacobwilliams/fortran-csv-module
[submodule "json-fortran"]
	path = json-fortran
	url = ssh://git@github.com/jacobwilliams/json-fortran
[submodule "nlesolver-fortran"]
	path = nlesolver-fortran
	url = ssh://git@github.com/jacobwilliams/nlesolver-fortran
[submodule "pyplot-fortran"]
	path = pyplot-fortran
	url = ssh://git@github.com/jacobwilliams/pyplot-fortran
[submodule "quadpack"]
	path = quadpack
	url = ssh://git@github.com/jacobwilliams/quadpack
[submodule "regridpack"]
	path = regridpack
	url = ssh://git@github.com/jacobwilliams/regridpack
[submodule "roots-fortran"]
	path = roots-fortran
	url = ssh://git@github.com/jacobwilliams/roots-fortran
[submodule "slsqp"]
	path = slsqp
	url = ssh://git@github.com/jacobwilliams/slsqp
[submodule "f90wrap"]
	path = f90wrap
	url = ssh://git@github.com/jameskermode/f90wrap
[submodule "config_fortran"]
	path = config_fortran
	url = ssh://git@github.com/jannisteunissen/config_fortran
[submodule "lookup_table_fortran"]
	path = lookup_table_fortran
	url = ssh://git@github.com/jannisteunissen/lookup_table_fortran
[submodule "rng_fortran"]
	path = rng_fortran
	url = ssh://git@github.com/jannisteunissen/rng_fortran
[submodule "kdtree2"]
	path = kdtree2
	url = ssh://git@github.com/jmhodges/kdtree2
[submodule "ogpf"]
	path = ogpf
	url = ssh://git@github.com/kookma/ogpf
[submodule "LaGriT"]
	path = LaGriT
	url = ssh://git@github.com/lanl/LaGriT
[submodule "qmd-progress"]
	path = qmd-progress
	url = ssh://git@github.com/lanl/qmd-progress
[submodule "coretran"]
	path = coretran
	url = ssh://git@github.com/leonfoks/coretran
[submodule "libnegf"]
	path = libnegf
	url = ssh://git@github.com/libnegf/libnegf
[submodule "neural-fortran"]
	path = neural-fortran
	url = ssh://git@github.com/modern-fortran/neural-fortran
[submodule "tcp-client-server"]
	path = tcp-client-server
	url = ssh://git@github.com/modern-fortran/tcp-client-server
[submodule "tsunami"]
	path = tsunami
	url = ssh://git@github.com/modern-fortran/tsunami
[submodule "NJOY2016"]
	path = NJOY2016
	url = ssh://git@github.com/njoy/NJOY2016
[submodule "pencil-code"]
	path = pencil-code
	url = ssh://git@github.com/pencil-code/pencil-code
[submodule "atomsk"]
	path = atomsk
	url = ssh://git@github.com/pierrehirel/atomsk
[submodule "numerical-methods-fortran"]
	path = numerical-methods-fortran
	url = ssh://git@github.com/planelles20/numerical-methods-fortran
[submodule "fprettify"]
	path = fprettify
	url = ssh://git@github.com/pseewald/fprettify
[submodule "GALAHAD"]
	path = GALAHAD
	url = ssh://git@github.com/ralna/GALAHAD
[submodule "fortran-error-handler"]
	path = fortran-error-handler
	url = ssh://git@github.com/samharrison7/fortran-error-handler
[submodule "FKB"]
	path = FKB
	url = ssh://git@github.com/scientific-computing/FKB
[submodule "fortran2018-examples"]
	path = fortran2018-examples
	url = ssh://git@github.com/scivision/fortran2018-examples
[submodule "rpn-calc-fortran"]
	path = rpn-calc-fortran
	url = ssh://git@github.com/scivision/rpn-calc-fortran
[submodule "psblas3"]
	path = psblas3
	url = ssh://git@github.com/sfilippone/psblas3
[submodule "OpenCoarrays"]
	path = OpenCoarrays
	url = ssh://git@github.com/sourceryinstitute/OpenCoarrays
[submodule "fparser"]
	path = fparser
	url = ssh://git@github.com/stfc/fparser
[submodule "flibcpp"]
	path = flibcpp
	url = ssh://git@github.com/swig-fortran/flibcpp
[submodule "swig"]
	path = swig
	url = ssh://git@github.com/swig-fortran/swig
[submodule "FLAP"]
	path = FLAP
	url = ssh://git@github.com/szaghi/FLAP
[submodule "FiNeR"]
	path = FiNeR
	url = ssh://git@github.com/szaghi/FiNeR
[submodule "PENF"]
	path = PENF
	url = ssh://git@github.com/szaghi/PENF
[submodule "StringiFor"]
	path = StringiFor
	url = ssh://git@github.com/szaghi/StringiFor
[submodule "VTKFortran"]
	path = VTKFortran
	url = ssh://git@github.com/szaghi/VTKFortran
[submodule "toml-f"]
	path = toml-f
	url = ssh://git@github.com/toml-f/toml-f
[submodule "M_CLI"]
	path = M_CLI
	url = ssh://git@github.com/urbanjost/M_CLI
[submodule "M_draw"]
	path = M_draw
	url = ssh://git@github.com/urbanjost/M_draw
[submodule "M_history"]
	path = M_history
	url = ssh://git@github.com/urbanjost/M_history
[submodule "M_io"]
	path = M_io
	url = ssh://git@github.com/urbanjost/M_io
[submodule "M_process"]
	path = M_process
	url = ssh://git@github.com/urbanjost/M_process
    ignore = dirty
[submodule "M_strings"]
	path = M_strings
	url = ssh://git@github.com/urbanjost/M_strings
[submodule "M_system"]
	path = M_system
	url = ssh://git@github.com/urbanjost/M_system
    ignore = dirty
[submodule "M_time"]
	path = M_time
	url = ssh://git@github.com/urbanjost/M_time
[submodule "general-purpose-fortran"]
	path = general-purpose-fortran
	url = ssh://git@github.com/urbanjost/general-purpose-fortran
[submodule "FEconv"]
	path = FEconv
	url = ssh://git@github.com/victorsndvg/FEconv
[submodule "gtk-fortran"]
	path = gtk-fortran
	url = ssh://git@github.com/vmagnin/gtk-fortran
[submodule "VTMOP"]
	path = VTMOP
	url = ssh://git@github.com/vtopt/VTMOP
[submodule "qnstop"]
	path = qnstop
	url = ssh://git@github.com/vtopt/qnstop
[submodule "datetime-fortran"]
	path = datetime-fortran
	url = ssh://git@github.com/wavebitscientific/datetime-fortran
[submodule "functional-fortran"]
	path = functional-fortran
	url = ssh://git@github.com/wavebitscientific/functional-fortran
[submodule "ntpoly"]
	path = ntpoly
	url = ssh://git@github.com/william-dawson/ntpoly
[submodule "incompact3d"]
	path = incompact3d
	url = ssh://git@github.com/xcompact3d/incompact3d
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = ssh://git@github.com/xianyi/OpenBLAS
[submodule "forpy"]
	path = forpy
	url = ssh://git@github.com/ylikx/forpy
[submodule "fdict"]
	path = fdict
	url = ssh://git@github.com/zerothi/fdict
[submodule "easy_plplot"]
	path = easy_plplot
	url = ssh://git@github.com/zoziha/easy_plplot
[submodule "elsi_interface"]
	path = elsi_interface
	url = ssh://git@gitlab.com/elsi_project/elsi_interface
[submodule "fortjson"]
	path = fortjson
	url = ssh://git@gitlab.com/elsi_project/fortjson
[submodule "erloff"]
	path = erloff
	url = ssh://git@gitlab.com/everythingfunctional/erloff
[submodule "iso_varying_string"]
	path = iso_varying_string
	url = ssh://git@gitlab.com/everythingfunctional/iso_varying_string
[submodule "jsonff"]
	path = jsonff
	url = ssh://git@gitlab.com/everythingfunctional/jsonff
[submodule "parff"]
	path = parff
	url = ssh://git@gitlab.com/everythingfunctional/parff
[submodule "quaff"]
	path = quaff
	url = ssh://git@gitlab.com/everythingfunctional/quaff
[submodule "sqliteff"]
	path = sqliteff
	url = ssh://git@gitlab.com/everythingfunctional/sqliteff
[submodule "strff"]
	path = strff
	url = ssh://git@gitlab.com/everythingfunctional/strff
[submodule "vegetables"]
	path = vegetables
	url = ssh://git@gitlab.com/everythingfunctional/vegetables
[submodule "tapenade"]
	path = tapenade
	url = https://git@gitlab.inria.fr/tapenade/tapenade
[submodule "hfsolver"]
	path = hfsolver
	url = https://github.com/certik/hfsolver
[submodule "GEOS-ESM-AeroApps"]
	path = GEOS-ESM-AeroApps
	url = git@github.com:GEOS-ESM/AeroApps.git
[submodule "GEOS-ESM-container-test"]
	path = GEOS-ESM-container-test
	url = git@github.com:GEOS-ESM/container-test.git
[submodule "GEOS-ESM-ccpp-physics"]
	path = GEOS-ESM-ccpp-physics
	url = git@github.com:GEOS-ESM/ccpp-physics.git
[submodule "GEOS-ESM-CICE"]
	path = GEOS-ESM-CICE
	url = git@github.com:GEOS-ESM/CICE.git
[submodule "GEOS-ESM-FKB"]
	path = GEOS-ESM-FKB
	url = git@github.com:GEOS-ESM/FKB.git
[submodule "GEOS-ESM-FVdycoreCubed_GridComp"]
	path = GEOS-ESM-FVdycoreCubed_GridComp
	url = git@github.com:GEOS-ESM/FVdycoreCubed_GridComp.git
[submodule "GEOS-ESM-g5pert"]
	path = GEOS-ESM-g5pert
	url = git@github.com:GEOS-ESM/g5pert.git
[submodule "GEOS-ESM-FMS"]
	path = GEOS-ESM-FMS
	url = git@github.com:GEOS-ESM/FMS.git
[submodule "GEOS-ESM-geos-chem"]
	path = GEOS-ESM-geos-chem
	url = git@github.com:GEOS-ESM/geos-chem.git
[submodule "GEOS-ESM-GEOSadas"]
	path = GEOS-ESM-GEOSadas
	url = git@github.com:GEOS-ESM/GEOSadas.git
[submodule "GEOS-ESM-GEOSagcmPert_GridComp"]
	path = GEOS-ESM-GEOSagcmPert_GridComp
	url = git@github.com:GEOS-ESM/GEOSagcmPert_GridComp.git
[submodule "GEOS-ESM-GEOSana_GridComp"]
	path = GEOS-ESM-GEOSana_GridComp
	url = git@github.com:GEOS-ESM/GEOSana_GridComp.git
[submodule "GEOS-ESM-GEOSchem_GridComp"]
	path = GEOS-ESM-GEOSchem_GridComp
	url = git@github.com:GEOS-ESM/GEOSchem_GridComp.git
[submodule "GEOS-ESM-GEOSctm"]
	path = GEOS-ESM-GEOSctm
	url = git@github.com:GEOS-ESM/GEOSctm.git
[submodule "GEOS-ESM-GEOSgcm_GridComp"]
	path = GEOS-ESM-GEOSgcm_GridComp
	url = git@github.com:GEOS-ESM/GEOSgcm_GridComp.git
[submodule "GEOS-ESM-GEOSgcs_GridComp"]
	path = GEOS-ESM-GEOSgcs_GridComp
	url = git@github.com:GEOS-ESM/GEOSgcs_GridComp.git
[submodule "GEOS-ESM-GEOSldas"]
	path = GEOS-ESM-GEOSldas
	url = git@github.com:GEOS-ESM/GEOSldas.git
[submodule "GEOS-ESM-GEOSradiation_GridComp"]
	path = GEOS-ESM-GEOSradiation_GridComp
	url = git@github.com:GEOS-ESM/GEOSradiation_GridComp.git
[submodule "GEOS-ESM-GEOS_OceanGridComp"]
	path = GEOS-ESM-GEOS_OceanGridComp
	url = git@github.com:GEOS-ESM/GEOS_OceanGridComp.git
[submodule "GEOS-ESM-GEOS_Util"]
	path = GEOS-ESM-GEOS_Util
	url = git@github.com:GEOS-ESM/GEOS_Util.git
[submodule "GEOS-ESM-GFDL_atmos_cubed_sphere"]
	path = GEOS-ESM-GFDL_atmos_cubed_sphere
	url = git@github.com:GEOS-ESM/GFDL_atmos_cubed_sphere.git
[submodule "GEOS-ESM-GMAO_Shared"]
	path = GEOS-ESM-GMAO_Shared
	url = git@github.com:GEOS-ESM/GMAO_Shared.git
[submodule "GEOS-ESM-GOCART"]
	path = GEOS-ESM-GOCART
	url = git@github.com:GEOS-ESM/GOCART.git
[submodule "GEOS-ESM-GrITAS"]
	path = GEOS-ESM-GrITAS
	url = git@github.com:GEOS-ESM/GrITAS.git
[submodule "GEOS-ESM-GSI"]
	path = GEOS-ESM-GSI
	url = git@github.com:GEOS-ESM/GSI.git
[submodule "GEOS-ESM-GSIbec"]
	path = GEOS-ESM-GSIbec
	url = git@github.com:GEOS-ESM/GSIbec.git
[submodule "GEOS-ESM-HEMCO"]
	path = GEOS-ESM-HEMCO
	url = git@github.com:GEOS-ESM/HEMCO.git
[submodule "GEOS-ESM-Icepack"]
	path = GEOS-ESM-Icepack
	url = git@github.com:GEOS-ESM/Icepack.git
[submodule "GEOS-ESM-MAPL"]
	path = GEOS-ESM-MAPL
	url = git@github.com:GEOS-ESM/MAPL.git
[submodule "GEOS-ESM-MITgcm"]
	path = GEOS-ESM-MITgcm
	url = git@github.com:GEOS-ESM/MITgcm.git
[submodule "GEOS-ESM-MOM5"]
	path = GEOS-ESM-MOM5
	url = git@github.com:GEOS-ESM/MOM5.git
[submodule "GEOS-ESM-MOM6"]
	path = GEOS-ESM-MOM6
	url = git@github.com:GEOS-ESM/MOM6.git
[submodule "GEOS-ESM-NCEP_Shared"]
	path = GEOS-ESM-NCEP_Shared
	url = git@github.com:GEOS-ESM/NCEP_Shared.git
[submodule "GEOS-ESM-Ocean-LETKF"]
	path = GEOS-ESM-Ocean-LETKF
	url = git@github.com:GEOS-ESM/Ocean-LETKF.git
[submodule "GEOS-ESM-QuickChem"]
	path = GEOS-ESM-QuickChem
	url = git@github.com:GEOS-ESM/QuickChem.git
[submodule "GEOS-ESM-RadApp"]
	path = GEOS-ESM-RadApp
	url = git@github.com:GEOS-ESM/RadApp.git
[submodule "GEOS-ESM-rte-rrtmgp"]
	path = GEOS-ESM-rte-rrtmgp
	url = git@github.com:GEOS-ESM/rte-rrtmgp.git
[submodule "GEOS-ESM-SIS2"]
	path = GEOS-ESM-SIS2
	url = git@github.com:GEOS-ESM/SIS2.git
[submodule "GEOS-ESM-TR_GridComp"]
	path = GEOS-ESM-TR_GridComp
	url = git@github.com:GEOS-ESM/TR_GridComp.git
[submodule "GEOS-ESM-UMD_Etc"]
	path = GEOS-ESM-UMD_Etc
	url = git@github.com:GEOS-ESM/UMD_Etc.git
[submodule "GEOS-ESM-umwm"]
	path = GEOS-ESM-umwm
	url = git@github.com:GEOS-ESM/umwm.git
[submodule "GEOS-ESM-WW3"]
	path = GEOS-ESM-WW3
	url = git@github.com:GEOS-ESM/WW3.git
[submodule "fortyxima"]
	path = fortyxima
	url = git@bitbucket.org:aradi/fortyxima.git
[submodule "fycollections"]
	path = fycollections
	url = git@bitbucket.org:aradi/fycollections.git
[submodule "fytest"]
	path = fytest
	url = git@bitbucket.org:aradi/fytest.git
[submodule "2decomp_fft"]
	path = 2decomp_fft
	url = git@github.com:numericalalgorithmsgroup/2decomp_fft.git
