<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>WHIZARD GUI</title>
<link rel="stylesheet" href="public/css/bootstrap.css">
<link rel='stylesheet' href='public/css/style.css' />
<link rel="shortcut icon" href="public/images/favicon.ico">
<style type="text/css">
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('public/fonts/glyphicons-halflings-regular.eot');
  src: url('public/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('public/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('public/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'); }
</style>
</head>
