<div role="tabpanel" class="tab-pane" id="scan">
<div class="row">
  <div class="col-sm-4">
    <div id="scan-process-list"></div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-7 scan-right">
    <div class="checkbox">
      <label>
        <form name="form-scan">
          <input id="conf-scan-check" name="checkbox" type="checkbox"><strong>Enable scan for this process</strong>
        </form>
      </label>
    </div>
    <div id="struct-scan">
      <div class="row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-default topbottom10 scan-newscan">New Scan</button>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="dropdown">
              <button id="sim-hist-analysis2" class="btn btn-primary topbottom10 dropdown-toggle"
                                              type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Scan Energy
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="sim-hist-analysis2" key="E" href="#">Scan Energy</a></li>
                <li><a class="sim-hist-analysis2" key="Pt" href="#">2</a></li>
                <li><a class="sim-hist-analysis2" key="M" href="#">3</a></li>
                <li><a class="sim-hist-analysis2" key="Pt" href="#">4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger topbottom10 scan-clean">Clean Scans</button>
        </div>
      </div>
      <div id="scansContainer">
        <div class="row">
          <div class="col-sm-1">
            <span class="glyphicon glyphicon-search"  aria-hidden="true"></span>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" id="conf-scan-min" placeholder="Min value">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" id="conf-scan-max" placeholder="Max value">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="conf-scan-inc" placeholder="Increment">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- START OF PLOT LINESHAPE -->
    <div class="panel panel-info" id="struct-scan-plot">
      <div class="panel-heading">
        <h3 class="panel-title">Plot</h3>
      </div>
      <div class="panel-body">
        <div class="form-group" id="scan-line-title">
          <label>Title</label>
          <input type="text" class="form-control" id="scan-plot-title">
        </div>
        <div class="form-group" id="scan-line-x">
          <label>X-label</label>
          <input type="text" class="form-control" id="scan-plot-xlabel">
        </div>
        <div class="form-group" id="scan-line-y">
          <label>Y-label</label>
          <input type="text" class="form-control" id="scan-plot-ylabel">
        </div>
        <div class="row" id="sim-hist-bounds">
          <div class="col-sm-6">
            <div class="form-group">
              <label>x-min</label>
              <input type="text" class="form-control" id="scan-plot-xmin">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>x-max</label>
              <input type="text" class="form-control" id="scan-plot-xmax">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF PLOT LINESHAPE -->
  </div>
</div>
</div>
