<div role="tabpanel" class="tab-pane active" id="basic">
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Aliases</label>
    <div class="col-sm-10">

      <div class="input-group" style="">
        <input type="text" class="form-control" id="conf-alias-lhs">
        <span class="input-group-addon" style="border-left: 0; border-right: 0;">:=</span>
        <div class="input-group">
          <input type="text" class="form-control" id="conf-alias-rhs">
        </div>

        <div class="input-group-btn">
          <button type="button" class="btn btn-default" id="button_alias">Add</button>
          <button id="show-alias" type="button" class="btn btn-default dropdown-toggle" data-toggle="popover" rel="popover_aliases" data-original-title="Registered Aliases" data-trigger="focus">Show All <span class="caret"></span></button>

        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Process</label>
      <div class="col-sm-10">

        <div class="input-group" style="">
          <input type="text" class="form-control" id="conf-process-in">
          <span class="input-group-addon" style="border-left: 0; border-right: 0;">=></span>
          <div class="input-group">
            <input type="text" class="form-control" id="conf-process-out">
          </div>
          <div class="input-group-btn">
            <button id="conf-model" type="button" class="btn btn-default dropdown-toggle" data-toggle="popover" rel="popover" data-original-title="Select a Model" data-trigger="focus">SM <span class="caret"></span></button>
            <button type="button" class="btn btn-default" id="button-add-process">Add</button>
            <button id="show-process" type="button" class="btn btn-default dropdown-toggle" data-toggle="popover" rel="popover_process" data-original-title="Registered Processes" data-trigger="focus">Show All <span class="caret"></span></button>

          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Additional code</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="conf-additional"></textarea>
      </div>
    </div>
  </form>
</div>
