<div role="tabpanel" class="tab-pane" id="cuts">
<div id="cutsContainer"></div>
<button type="button" class="btn btn-default top17 cuts-newcut">New Cut</button>
<div id="cuts-html-particles" class="row top17 centered-pills">
  <ul class="nav nav-pills" id="cuts-html-particles-list">
  </ul>
</div>
</div>
