<div role="tabpanel" class="tab-pane" id="int">
  <div class="row">
    <div class="col-sm-4">
      <div id="integrate-process-list"></div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7 integrate-right">
      <div class="checkbox">
        <label>
          <form name="form-nlo">
            <input id="conf-int-nlo" name="checkbox" type="checkbox">
            <strong>Integrate NLO</strong>
          </form>
        </label>
      </div>
      <div class="form-group">
        <label>CMS energy</label>
        <input type="text" class="form-control" id="conf-int-sqrts">
      </div>
      <div class="form-group">
        <label>Number of iterations</label>
        <input type="text" class="form-control" id="conf-int-itt">
      </div>
      <div class="form-group">
        <label>Number of Calls per Iteration</label>
        <input type="text" class="form-control" id="conf-int-cpi">
      </div>
    </div>
  </div>
</div>
