# object files, .mod files, libraries
*.o
*.mod
*.smod
*.a

# dependency files
.depend
.current_options
.current_srcs
/.depend_subdirs
/.liblist

# error logs and other random output
*.ERR
*.i
*.i90

