body { background: #fff; color: #000; margin: 10px; padding: 0;
font-size: 16px; }

ol.toc {
font-size: 16px;
line-height: 26px;
}

p.fineprint {
font-size: 12px;
line-height: 12px;
}

h3 {
text-align: center;
}