<div role="tabpanel" class="tab-pane" id="sim">
<div class="row">
  <div class="col-sm-4">
    <div id="simulate-process-list"></div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-7 simulate-right">
    <div class="checkbox">
      <label>
        <form name="form-sim">
          <input id="conf-sim-sim" name="checkbox" type="checkbox"><strong>Simulate this process</strong>
        </form>
      </label>
    </div>
    <div class="form-group">
      <label>Events</label>
      <input type="text" class="form-control" id="conf-sim-events">
    </div>
    <!-- START OF HISTOGRAM -->
    <div class="checkbox">
      <label>
        <form name="form-sim">
          <input id="conf-sim-hist" name="checkbox" type="checkbox"><strong>Histogram</strong>
        </form>
      </label>
    </div>
    <div id="struct-sim-hist">
      <div class="form-group" id="conf-sim-hist-cont-title">
        <label>Title</label>
        <input type="text" class="form-control" id="conf-sim-hist-title">
      </div>
      <div class="form-group" id="sim-hist-cont-antype">
        <label>X-label</label>
        <input type="text" class="form-control" id="conf-sim-hist-x">
      </div>
      <div class="row" id="sim-hist-bounds">
        <div class="col-sm-4">
          <div class="form-group">
            <label>x-min</label>
            <input type="text" class="form-control" id="conf-sim-hist-minx">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>x-max</label>
            <input type="text" class="form-control" id="conf-sim-hist-maxx">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Ticks</label>
            <input type="text" class="form-control" id="conf-sim-hist-ticks">
          </div>
        </div>
      </div>
      <div class="row" id="conf-sim-hist-cont-type">
        <div class="col-sm-6"><strong>Analysis type</strong></div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="dropdown">
              <button id="sim-hist-analysis" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Angular Distribution
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="sim-hist-analysis" key="cos (Theta)" href="#">Angular Distribution</a></li>
                <li><a class="sim-hist-analysis" key="Pt" href="#">Transverse Momentum</a></li>
                <li><a class="sim-hist-analysis" key="M" href="#">Invariant Mass</a></li>
                <li><a class="sim-hist-analysis" key="Pt" href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="sim-hist-cont-sub">
        <div class="col-sm-6"><strong>Subevent</strong></div>
        <div class="col-sm-6"><input type="text" class="form-control" id="conf-sim-hist-subevent" data-toggle="popover_simulation_hist" data-original-title="Subevents"></div>
      </div>
    </div>
    <!-- END OF HISTOGRAM -->
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-7 simulate-right"></div>
</div>
</div>
